/* Set the global font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #003f2d;
}

/* Style the CBRE logo */
.logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  background-image: url('cbre_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Style the page content */
.content {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style the form input labels */
label {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333;
}

.file-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.upload-btn {
  display: block;
  background-color: #012a2d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Remove underline from links */
  margin: 0 0.5rem;
}

.upload-btn:hover {
  background-color: #538184;
}

input[type="file"] {
  display: none;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  background-color: #012a2d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #538184;
}

/* Style the unordered list */
ul {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

/* Style the list items */
ul li {
  margin-bottom: 1rem;
}

/* Add responsive design */
@media screen and (max-width: 600px) {
  .logo {
    width: 150px;
  }

  .bg-image {
    height: 300px;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }
}

/* Style the download buttons */
.btn {
  display: block;
  margin: 0 auto;
  background-color: #012a2d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Remove underline from links */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn:hover {
  background-color: #538184;
}

/* Style the Generate PowerPoint button */
.generate-btn {
  display: block;
  margin: 0 auto;
  background-color: #012a2d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5rem 2rem; /* adjust padding here */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.generate-btn:hover {
  background-color:#538184;
}

/* Style the error message */
.error {
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Style the success message */
.success {
  color: #008000;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Add responsive design */
@media screen and (max-width: 600px) {
  .logo {
    width: 150px;
  }

  .bg-image {
    height: 300px;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }
}
