<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBRE Occupier Longlist Creator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="bg-image"></div>
    <div class="content">
        <img src="cbre_logo.png" alt="CBRE logo" class="logo">
        <h1>CBRE Occupier Longlist Creator</h1>
        <h3>Please read carefully: This tool allows you to create your longlist slides automatically, it works in the following way:</h3>
        <ul>
          <li>First, download the template, this is where you can populate your data, every row is a new property</li>
          <li>In the template, image 1 and image 2 are the images you will place on the powerpoint slides, the images you update need to have the same name as mentioned in the excel in the case of the template my images would be called 1, 2, 3, 4</li>
          <li>After you have filled the template with data and have all the pictures named corresponding to the names in your data file you can upload your excel and pictures below</li>
          <li>Then click on Generate Powerpoint and your longlist will autoatically be created</li>
        </ul>
        
        <p>Please download the explination and read carefully</p>
        <a href="/download_explanation" download>Download Template</a>
        
        <p>Please download the template file and fill it with your data.</p>
        <a href="/download_template" download>Download Template</a>

        <hr>
        <br>
        <form action="/upload_files" method="post" enctype="multipart/form-data">
            <label for="data_file">Data file (.xlsx):</label>
            <input type="file" name="data_file" id="data_file" required><br><br>
            <label for="picture_files">Picture files (.jpg, .jpeg, .png):</label>
            <input type="file" name="picture_files" id="picture_files" accept=".jpg, .jpeg, .png" multiple required><br><br>
            <input type="submit" value="Generate PowerPoint">
        </form>
    </div>
</body>
</html>
