<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBRE Longlist Creator</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script>
        function uploadSuccessMessage(fileInput) {
            var fileName = fileInput.files[0].name;
            alert("File(s) successfully uploaded!");
        }
    </script>
</head>
<body>
    <div class="content">
        <img src="static/cbre_logo.png" alt="CBRE logo" class="logo" />
        <h1>Longlist Creator</h1>
        <h3>Please read carefully: This tool allows you to create your longlist slides automatically, it works in the following way:</h3>
        <ul>
          <li>First, download the template, this is where you can populate your data, every row is a new property</li>
          <li>In the template, image 1 and image 2 are the images you will place on the powerpoint slides, the images you upload need to have the same name as mentioned in the excel in the case of the template my images would be called 1, 2, 3, 4, 5, 6</li>
          <li>After you have filled the template with data and have all the pictures named corresponding to the names in your data file you can upload your excel and pictures below</li>
          <li>Then click on Generate Powerpoint and your longlist will automatically be created</li>
          <li>Any questions or ideas? Contact timo.baaij@cbre.com</li>
        </ul>
        <div class="download-links">
            <a href="/download_explanation" download class="btn">Download Explanation here</a>
            <a href="/download_template" download class="btn" style="margin-left: 20px;">Download Excel Template here</a>
            <a href="/download_template_uk" download class="btn" style="margin-left: 20px;">Download Template UK</a>
        </div>
        <hr>
        <br>
        <form action="/upload_files" method="post" enctype="multipart/form-data">
            <div style="text-align: center;">
                <label for="script-select">Select script:</label>
                <select name="script-select" id="script-select">
                    <option value="Euro/Metric">Euro/Metric</option>
                    <option value="Pound/Imperial">Pound/Imperial</option>
                </select>
            </div>
            <div class="file-input-wrapper">
                <input type="file" name="data_file" id="data_file" onchange="uploadSuccessMessage(this)" required>
                <label for="data_file" class="upload-btn">Upload your data template (xlsx) here </label>
            </div>
            <div class="file-input-wrapper">
                <input type="file" name="picture_files" id="picture_files" onchange="uploadSuccessMessage(this)" accept=".jpg, .jpeg, .png" multiple required>
                <label for="picture_files" class="upload-btn">Upload your images here </label>
            </div>
            <input type="submit" value="Generate PowerPoint" class="generate-btn">
        </form>
    </div>
</body>
</html>
